@import '../../globals';

.register-form {
    margin-top: 10%;
}

.register-title {
    background-color: $md-primary-color;
    height: 200px;
    width: 100%;
    & > div {
        width: 100%;
    }
}
.register-title > div > * {
    width: 100%;
    text-align: center;
    color: #FFF;
} 

.register-form-footertext{
    margin: 8px;
    text-align: center;
}

.btn-save {
    margin-top: 24px;
}

.btn-delete {
    margin-top: 12px;
}

.btn-centered > div > span {
    text-align: center;
}

.btn-centered > div.md-icon-separator > span.md-icon-text {
    margin-left: -16px;
    padding-left: 0px;
}