.register-form {
  margin-top: 10%; }

.register-title {
  background-color: #880e4f;
  height: 200px;
  width: 100%; }

.register-title > div {
  width: 100%; }

.register-title > div > * {
  width: 100%;
  text-align: center;
  color: #FFF; }

.register-form-footertext {
  margin: 8px;
  text-align: center; }
