.md-avatar {
  border: 0px; }

.fab {
  position: absolute;
  right: 16px;
  bottom: 16px; }

.fab.md-background--secondary > .md-icon > i {
  color: #FFF; }

.md-picker-container {
  margin-right: 16px; }
