// Can't use the nice '~react-md/src/scss/react-md' since this isn't being bundled with webpack
@import '../node_modules/react-md/src/scss/react-md';

// Variable overrides

$md-primary-color: $md-pink-900;
$md-secondary-color: $md-cyan-800;

$md-grid-desktop-breakpoint: 960px !default;

.md-avatar {
    border: 0px;
}

.fab {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.fab.md-background--secondary > .md-icon > i {
    color: #FFF;
}

.md-picker-container {
    margin-right: 16px;
}